<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>holiday.css - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/holiday.css@0.7.0"
    />
  </head>

  <body>
    <header><h1>holiday.css</h1></header>
    <nav>
      <ul>
        <li><a href="{{ "/" | url }}">Home</a></li>
        <li><a href="{{ "/usage/" | url }}">Usage</a></li>
        <li><a href="{{ "/template/" | url }}">Quickstart Template</a></li>
        <li><a href="{{ "/customization/" | url }}">Customization</a></li>
        <li><a href="{{ "/kitchen-sink/" | url }}">Kitchen Sink</a></li>
        <li><a href="{{ "/acknowledgements/" | url }}">Acknowledgements</a></li>
        <li>
          <a href="https://github.com/EvgenyOrekhov/holiday.css">GitHub</a>
        </li>
      </ul>
    </nav>
    <main>
{{ content }}
    </main>
    <footer>
      Created by
      <a href="https://github.com/EvgenyOrekhov">Evgeny Orekhov</a>
    </footer>
  </body>
</html>
